.new_os {
	font-family: 'CirceRounded', sans-serif !important;
}
.new_f-container {
	/*background: rgb(255,255,255) !important;*/
	background: transparent !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOWNlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU0YTNlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NWIyZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(76,156,224,1) 0%, rgba(84,163,230,1) 50%, rgba(101,178,243,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(76,156,224,1)), color-stop(50%,rgba(84,163,230,1)), color-stop(100%,rgba(101,178,243,1)));
	background: -webkit-linear-gradient(left, rgba(76,156,224,1) 0%,rgba(84,163,230,1) 50%,rgba(101,178,243,1) 100%);
	background: -o-linear-gradient(left, rgba(76,156,224,1) 0%,rgba(84,163,230,1) 50%,rgba(101,178,243,1) 100%);
	background: -ms-linear-gradient(left, rgba(76,156,224,1) 0%,rgba(84,163,230,1) 50%,rgba(101,178,243,1) 100%);
	background: linear-gradient(to right, rgba(76,156,224,1) 0%,rgba(84,163,230,1) 50%,rgba(101,178,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c9ce0', endColorstr='#65b2f3',GradientType=1 );
}
/* заголовок "Поиск тура" */
.new_f-title {
	color: #000000 !important;
	font-size: 18px !important;
	display: none !important;
}
.new_f-form .new_f-form-submit {
	background: #ffd900;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	text-transform: none;
	letter-spacing: normal;
    text-align: center;
}
.new_f-form .new_f-form-submit {
	border-radius: 0 3px 3px 0;
	box-shadow: none;
	color: #000000 !important;
	margin: 0;
	padding: 0;
	width: 107px;
	transition: background .5s ease !important;
}
/* изображения компаса и самолета на форме */
.new_f-wrapper-bg-imgs {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../../images/onsite/plane-icon.png) no-repeat right 15px top 14px !important;
}
.new_f-form>.clearfix {
	z-index: 1001 !important;
}
